* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ffa500;
  --color-dark: #232323;
  --color-light: #eaeaea;
  --color-white: #fff;
}

html {
  scroll-behavior:smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--color-primary)
}